/* HOME PAGE */

html {
  overflow-x: visible;
}

.ex-exercise-heading .ex-utility-bar {
  display: flex;
  justify-content: space-between;
}

.ex-utility-icon {
  width: 5rem;
  height: 5rem;
  color: #6c63ff;

  padding: 0.7rem;
  border-radius: 50%;

  margin-bottom: 3rem;
  background-color: white;
}

.ex-exercise-img {
  background-size: contain;
  width: 100%;
  height: auto;

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  z-index: -1;

  background: black;
  opacity: 0.95;
}

.moving-thing {
  border-radius: 12px;
  background-color: #f0efff;
  top: 500px;

  padding-bottom: 5rem;
  margin-top: -12px;

  /* position: absolute; */
}

.exercise-container {
  padding: 0 6.1rem;
  padding-bottom: 3rem;
}

.ex-exercise-heading {
  padding-top: 4rem;
  padding-bottom: 4rem;
  letter-spacing: -1.8px;
  align-self: center;

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  background-color: #f0efff;

  z-index: 1000;

  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.03);
}

.exercise--header {
  font-size: 7.9rem;
  font-weight: 600;
  letter-spacing: -1.8px;
  padding-bottom: 2rem;
  /* color: #9a1b32; */
}

.exercise--description {
  display: flex;
}

.icon {
  width: 2.6rem;
  height: 2.6rem;
  display: inline-block;
  color: #9ea5ab;
}

.time {
  padding-right: 4rem;
  border-right: 0.4rem solid #9ea5ab;
}

.target {
  padding-left: 4rem;
}

.time span,
.target span {
  font-size: 3rem;
  color: #9ea5ab;
  text-align: center;
}

.exercise--subtext {
  font-size: 5rem;
  letter-spacing: 0.3px;
  font-weight: 500;
  color: #6b7278;
}

/* exercise list style*/

/* .moving-thing-2 {
  top: 0;
} */

.exercise-body-menu {
  padding: 0 6.1rem;
}

.exercise-body-header {
  font-size: 4rem;
  padding-top: 6.5rem;
  padding-bottom: 4rem;
}

.exercise-body-header span {
  font-size: 2rem;
  color: #b0b0b0;
}

.exercise-body--item:link,
.exercise-body--item:visited {
  display: inline-block;
  color: black;
  /* margin-right: 1.5rem; */

  font-size: 3rem;
  text-decoration: none;

  background-color: white;
  padding: 3rem 4rem;
  margin-bottom: 3rem;

  border-radius: 3rem;
  width: 100%;
  /* display: flex; */
  transition: all 0.3s;
}

.exercise-body--item:active,
.exercise-body--item:hover {
}

.exercise-body--item:last-child {
  margin-bottom: 0;
}

.exercise-body--icon {
  width: 7rem;
  height: 7rem;
  color: #6c63ff;

  display: inline-block;
  justify-content: center;
  align-self: center;
  padding-right: 4rem;
}

.flex-down-please {
  display: flex;
  /* flex-direction: column; */
}

.grid-please {
  display: grid;
  grid-template-columns: 1fr;
  /* flex-direction: column; */
}

.exercise-body--heading {
  color: #6c63ff;
  font-size: 5rem;
  letter-spacing: -1px;

  padding-bottom: 4px;
}

.exercise-body--subtext {
  font-size: 3rem;
}

.exercise-completed-btn:link,
.exercise-completed-btn:visited {
  display: inline-block;

  font-size: 3rem;
  text-decoration: none;

  background-color: #6c63ff;
  padding: 3rem 4rem;
  margin-top: 5rem;

  border-radius: 2000px;
  width: 100%;
  transition: all 0.3s;
  /* display: flex; */
}

.exercise-completed-btn:focus {
  box-shadow: 0 0 0 0.8rem #e7abb7 !important;
}

.done-btn {
  color: #6c63ff;
}

.exercise-done {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;

  padding-bottom: 0;
}
