* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 30%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;

  color: #3e3e3e;

  height: 100vh;

  overflow-x: hidden;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 4rem;
  border-radius: 50px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.container {
  padding: 0 6.1rem 5rem 6.1rem;
}

*:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.8rem rgba(211, 208, 255, 1) !important;
}
