body {
  background-color: #f0efff;
}

.wave-img {
  transform: rotate(180deg);
}

.trainer-img img {
  width: 48rem;
  height: auto;
}

.trainer-img {
  transform: translate(21%, 4rem);
}

.white-back {
  background-color: white;
}

.login-heading {
  padding: 7rem 9rem 0rem 9rem;
  background-color: white;
}

.heading {
  font-size: 8rem;
  letter-spacing: -1.8px;
}

.subtext {
  padding-top: 1rem;
  font-size: 4rem;
  font-weight: 800;
}

.login-form {
  margin-top: -6rem;
  display: grid;

  row-gap: 2.8rem;

  transition: all 0.3sec;
}

.login-form input,
.login-form select {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  width: 100%;
  padding: 4rem 6rem 4rem 13rem;

  font-family: inherit;
  color: #3e3e3e;
  border: none;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  transition: all 0.3sec;
}

.login-form input::placeholder {
  text-transform: uppercase;
  color: #c4c1ff;
}

.input-img {
  position: absolute;
  height: 6rem;
  width: 6rem;
  top: 0;
  left: 0;
}

.input-email,
.input-password,
.input-confirm-password {
  text-align: center;
  position: relative;
}

.wrong-entry {
  box-shadow: inset 0 0 0 2px #ff6b6b !important;
}

.register-password-state,
.login-password-state {
  padding: 2rem 0 0 13rem;
  font-size: 3rem;
  font-weight: 600;
  color: #ff6b6b;
}

#email,
#password,
#confirm-password {
  width: 80%;
}

.input-img--email {
  top: 3rem;
  left: 12.4rem;
}

.input-img--password {
  top: 3rem;
  left: 12.4rem;
}

.input-img--confirm-password {
  top: 3rem;
  left: 12.4rem;
}

.btn-login {
  text-align: right;
  display: inline-block;

  padding: 1rem 10% 7rem 0;
  /* padding-right: 10%;
  padding-bottom: 7rem; */
}

.btn--register {
  text-align: left;
  text-transform: uppercase;
  font-size: 3.5rem !important;
  color: #fdf2e9;

  background-color: #c42e4a;

  position: relative;
  padding-right: 10rem;
  align-self: right;

  width: 35rem;
}

.btn--register:focus {
  box-shadow: 0 0 0 0.8rem rgba(252, 102, 130, 0.4) !important;
}

.btn--login {
  text-align: left;
  text-transform: uppercase;
  font-size: 3.5rem !important;
  color: #fdf2e9;

  background-color: #c42e4a;

  position: relative;
  padding-right: 10rem;
  align-self: right;

  width: 30rem;
}

.btn--login:focus {
  box-shadow: 0 0 0 0.8rem rgba(252, 102, 130, 0.4) !important;
}

.btn--img {
  width: 8rem;
  height: 8rem;

  position: absolute;
  bottom: 1.9rem;
  right: 3.4rem;
}

.login-footer {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 800;
  color: #3f5a99;
}

.login-footer--sign-up:link,
.login-footer--sign-up:visited {
  text-decoration: none;
  color: #c42e4a;
  transition: all 0.3sec;
}

.login-footer--sign-up:focus {
  box-shadow: 0 0 0 0.8rem rgba(252, 102, 130, 0.4) !important;
}
